<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div ng-app="">
        <p> Enter the empid here </p>
        <p>Empid: <input type="text" ng-model="empid1"></p>
        <p ng-bind="empid1"></p>
        <p>Empname: <input type="text" ng-model="empname"></p>
        <p ng-bind="empname"></p>
        <p>EmpPhone: <input type="text" ng-model="empph"></p>
        <p ng-bind="empph"></p>
        <button type="button" onclick="">click</button>
        </div>
</body>
</html>
